# Compiled files
*.tfstate.*.backup
*.tfstate*
**/*.tfstate.*.backup
**/.terraform.tfstate.lock.info

# Module directory
**/.terraform
.idea
*.iml

.build-harness
build-harness

.DS_Store
**/aws-app-mesh-examples